{% extends "network/layout.html" %}

{% block body %}
<h1>All POSTS</h1>

{%  if  user.is_authenticated%}
<div class="new-post my-3 mx-5">
    <div class="row"> <h2>New Posts</h2>
    </div>
    <form action="{% url 'newPost' %}" method="post">
        {% csrf_token %}

        <textarea name="content" row="4" cols="100"></textarea>
    </br>
        <input type="submit" value="Post" class="btn btn-primary"/>


    </form>
</div>
{% endif %}
    
<div class="all-posts">


    {% for posts in allPosts %}
    <h3>{{ posts.content }}</h3>
    {% endfor %}
</div>
{% endblock %}